@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
